# Common
data_dir=/path/to/data
config_dir=/path/to/config
time_zone=Europe/Vilnius

# NordLynx
key='YOUR_KEY' # https://github.com/bubuntux/nordlynx#how-to-get-your-private_key
local_network=192.168.0.0/24

# Moon_Server
moon_host=192.168.1.2

# Grafana
grafana_pass=mypass
influx_user=myuser
influx_pass=mypass

# Arr stack
sonarr_api_key=xxx
radarr_api_key=xxx